body{
    background-image: url("hijjabi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#form2{
    text-align:center;
}
h2{
    color:gold;
}
.form{
    background-color:ash;
    padding:20px;
    margin:50px;
    margin-top:10px;
}
input{
    text-align:center;
    background: transparent;
    border:none;
    border-bottom:2px solid white;
    font-size:15px;
}
a{
    color:gold;
}
button {
    width:150px;
    height:40px;
    border:none;
    border-radius:50px;
    font-size:20px;
}
